<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
  <li *ngFor="let f of filiations" [ngbNavItem]="f.id">
    <a ngbNavLink>
      {{ f.name }} {{ f.id }}
      <span class="close position-relative pl-2 font-weight-light" (click)="close($event, f.id)">×</span>
    </a>
    <ng-template ngbNavContent>
      <p>{{ f.name }} content</p>
    </ng-template>
  </li>
  <li class="nav-item">
    <a class="nav-link" href (click)="open(content)">...</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Новый филиал</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filiationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">
          Название
        </label>
        <input id="name" class="form-control" type="text" formControlName="name">
      </div>
      <div class="form-group">
        <label for="address">
          Адрес
        </label>
        <input id="address" class="form-control" type="text" formControlName="address">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onSubmit()">Сохранить</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Отмена</button>
  </div>
</ng-template>
